@import "../../../shared/styles/sizes.scss";
@import "../../../shared/styles/colors.scss";

.appointements_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.timeline_container {
  position: relative;
  width: 400px;
  height: size(timeline-height);
  margin: 0;
}

.timeline__background {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - #{size(timeline-left-gap)});
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 2%,
    #bcbcbc 2%,
    #bcbcbc 4%
  );
}

.timeline__time {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: solid black 1px;
}

.timeline__hour {
  display: block;
  position: relative;
  opacity: 0.6;
  flex: 1;
  text-align: center;
  margin-left: solid transparent 2rem;
  border-top: solid black 1px;

  span {
    position: absolute;
    font-size: 1.2rem;
    vertical-align: middle;
    margin: auto 0;
    margin-left: 5px;
    left: 0;
    top: 0;
  }
}
.times_container {
  text-align: center;
  div {
    font-weight: 600;
    margin-bottom: 0.6rem;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0.2rem;
  }
}
.times_wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, 5rem);
  gap: 0.5rem;
  margin-top: 2rem;
  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(3, 5rem);
  }
}
.mobile__times_wrap {
  display: flex;
  flex-direction: column;
}

.time__btn {
  display: block;
  text-align: center;
  padding: 0.3rem;
  background-color: color(light);
  border-radius: 0.3rem;
  user-select: none;
  cursor: pointer;
}

.time__btn:hover {
  background-color: color(medium);
}

.time__btn.time_selected {
  background-color: color(medium);
}

.timeline__add_wrap {
  position: absolute;
  display: block;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.timeline__add {
  position: absolute;
  margin-left: size(timeline-left-gap);
  display: block;
  background: color(light);
  width: calc(100% - #{size(timeline-left-gap)});
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline__add.selected {
  background: color(medium);
}

.timeline__add {
  font-size: 2rem;
  font-weight: 400;
  user-select: none;
}
.timeline__add:hover {
  cursor: pointer;
}

.timeline__add:active {
  transform: scale(0.995);
}
