@import "../shared/colors.scss";

.checkout__wrapp {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.checkout__appointement_wrap {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3rem;
}
.checkout__treatment_wrap {
  display: flex;
  flex-direction: column;
}
.checkout__summary_wrap > span {
  font-size: 1.2rem;
  font-weight: 700;
  color: color(medium);
  text-transform: uppercase;
}
.checkout__client_wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.checkout__client_data {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.checkout__summary {
  display: flex;
  flex-direction: row;
}
.checkout__summary_label,
.checkout__summary_data {
  li {
    font-weight: 500;
    padding: 0.3rem;
    text-decoration: none;
    list-style: none;
  }
}
.checkout__summary_label {
  li {
    font-weight: 700;
  }
}
.checkout__summary_data {
  text-transform: capitalize;
  padding-left: 3rem;
}
.treatment__details_wrap {
  margin-left: auto;
  ul {
    padding-left: 3rem;
  }
  span {
    font-size: 1.2rem;
    font-weight: 700;
    color: color(medium);
    text-transform: uppercase;
  }
  p {
    max-width: 50ch;
  }
}
