@import "../../shared/styles/colors.scss";

.progress {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 2rem;
  padding-bottom: 2.8rem;
  margin: 0;
  max-width: 800px;

  @media only screen and (max-width: 600px) {
    padding: 0.8rem 1rem;
    padding-bottom: 2rem;
  }

  .progress_container {
    position: relative;
    h4 {
      text-align: center;
    }
  }
  .progress_list {
    display: flex;
    flex-direction: row;
  }
  .progress_list::before {
    content: " ";
    background-color: lightgray;
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
  }

  .progress__list_item {
    position: relative;
    margin: 0.5rem auto;
  }
  .progress__list_item span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: white;
  }
  .progress__list_item:first-child {
    margin-left: 0;
  }
  .progress__list_item:last-child {
    margin-right: 0;
  }
  .progress__list_item::before {
    content: attr(data-name);
    color: color(light);
    white-space: nowrap;
    display: block;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translate(-50%, 0);
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  .progress__list_item::after {
    content: "";
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    width: 3rem;
    height: 3rem;

    border: solid color(light) 0.5rem;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.1);
    transition: visibility 0.5s, transform 0.5s, opacity 0.5s ease-in-out;
  }
  .progress__list_item_done span {
    background-color: color(light);
    position: relative;
    z-index: 2;
    svg {
      color: color(dark);
    }
  }
  .progress__list_item_current.progress__list_item::after {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: visibility 0.5s, transform 0.5s, opacity 0.5s ease-in-out;
  }
}
