$colors: (
  dark: #005254,
  medium: #006769,
  light: #00b9bc,
  bright: #feffff,
  gray: #bcbcbc,
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}
