@import "./colors.scss";
@import "./presets.scss";

.treatment__wrapp {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.treatment__options_wrapp {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-self: center;
}

.treatment__selected {
  display: flex;
  flex-direction: row;
  align-self: center;
  padding: 0.5rem;
  & > div {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin: 1.1rem;
  }
  span {
    font-weight: 500;
    font-size: 1.2rem;
    margin-left: 0.2rem;
  }
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.option_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4rem;
  padding: auto;
  margin: 1.7rem;
  transition: all ease 0.5s;
  svg,
  span {
    z-index: 3;
    user-select: none;
    color: color(dark);
  }
  span {
    font-weight: 700;
  }
}

.option_wrap::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4.8rem;
  height: 5.8rem;
  border: 0.3rem solid color(dark);
  border-radius: 0.3rem;
  transition: all ease 0.5s;
}
.option_wrap:hover {
  cursor: pointer;
}

.option__btn_selected {
  svg,
  span {
    color: color(bright);
  }
}

.option__btn_selected::before {
  background-color: color(dark);
  border: 0.3rem solid color(dark);
}
