.treatment__wrapp {
  // display: grid;
  // grid-template-columns: auto 1fr;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.treatment__options_wrapp {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-self: center;
}

.treatment__selected {
  display: flex;
  flex-direction: row;
  align-self: center;
  padding: 0.5rem;
  & > div {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin: 1rem;
  }
  span {
    font-size: 1.2rem;
    margin-left: 0.2rem;
  }
}
.options {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  justify-content: center;
}
.option_wrap {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
}
.option_wrap:hover {
  cursor: pointer;
}
.option_wrap:hover {
  cursor: pointer;
}
.option_icon {
}
